@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

:root {
    --backgroundColor: #EEE2DE;
    --buttonEdit: #B31312;
    --buttonDelete: #EA906C;
    --Headertext: #2B2A4C;
    --text: #545B77;
    --input: #ececec;
    --ButtonAdd: #42b883;
}


* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu';
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

header {
    padding: 32px 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 16px;
    color: var(--Headertext);
}

#task-form {
    display: flex;
}

input{
    appearance: none;
    border: none;
    outline: none;
}

.editBtn {
    border: none;
    outline: none;
    background: var(--buttonEdit);
    color: azure;
}

.deleteBtn {
    border: none;
    outline: none;
    background: var(--buttonDelete);
    color: azure;
}

#input {
    flex: 1 1 0%;
    background-color: var(--input);
    border-radius: 12px;
    padding: 16px;
    margin-right: 16px;
    color: var(--text);
    font-size: 16px;
}

#submit-button {
    background-color: var(--ButtonAdd);
    color: var(--input);
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    border-radius: 12px;
}