@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');


@keyframes remove {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }

    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }

    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

:root {
    --backgroundColor: #f7f7f7;
    --buttonEdit: #c8cec8;
    --buttonDelete: #FA3E3E;
    --Headertext: #2B2A4C;
    --text: #e8e8e8;
    --input: #454545;
    --ButtonAdd: #4267B2;
}


* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu';
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

input {
    font-family: 'ubuntu';
}

header {
    padding: 32px 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 16px;
    color: var(--Headertext);
}

#task-form {
    display: flex;
}

input{
    appearance: none;
    border: none;
    outline: none;
}


.buttons {
    display: flex;
    justify-content: space-between;
    /* width: 90px; */
    gap: 10px;
}

.editBtn {
    border: none;
    outline: none;
    background: var(--buttonEdit);
    color: var(--input);
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

.deleteBtn {
    border: none;
    outline: none;
    background: var(--buttonDelete);
    color: azure;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

#input {
    flex: 1 1 0%;
    background-color: var(--input);
    border-radius: 12px;
    padding: 16px;
    margin-right: 16px;
    color: var(--text);
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#input::placeholder {
    color: #e8e8e8;
}

#submit-button {
    background-color: var(--ButtonAdd);
    color: var(--text);
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#submit-button:hover {
    background-color: #4a73c6;
}

main {
    flex: 1 1 0%;
    padding: 32px 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 16px;
}

.task-list h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: var(--Headertext);
    margin-bottom: 16px;
}

.my-task-text {
    font-size: 16px;
    background-color: var(--Headertext);
    color: var(--text);
}


.tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--Headertext);
    color: var(--text);
    padding: 16px;
    margin: 16px;
    border: 1px solid var(--input);
    border-radius: 12px;
}

.task {
    animation-name: remove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
};